_site/
.sass-cache/
.jekyll-metadata
*.gvdesign
Gemfile.lock
/.vs/slnx.sqlite
/.vs/cru-computing/v15/.suo
/_posts/.vs/slnx.sqlite
/_posts/.vs/_posts/v15/.suo
/_posts/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
/.vs/cru-computing/v16/.suo
/.vs/ProjectSettings.json
media/timeline/.DS_Store
media/markers/.DS_Store
media/fonts/.DS_Store
media/faculty/.DS_Store
media/.DS_Store
js/.DS_Store
_sass/.DS_Store
_posts/.DS_Store
_layouts/.DS_Store
_includes/.DS_Store
.DS_Store
