_site/
.sass-cache/
.jekyll-metadata
*.gvdesign
Gemfile.lock
/.vs/slnx.sqlite
/.vs/cru-computing/v15/.suo
/_posts/.vs/slnx.sqlite
/_posts/.vs/_posts/v15/.suo
/_posts/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
/.vs/cru-computing/v16/.suo
/.vs/ProjectSettings.json
