---
layout: default
title: 50th Anniversary ESP
---

<div class="intro container">
  <div class="row">
    <div class="col-md-4 col-xl-3 offset-xl-1 text-center">
        {% include tree.html %}
    </div>
    <div class="intro-content col-md-8 align-self-center">
      <h2><img src="/media/50small.svg" alt="The number 50">Years of Environmental Science and Policy</h2>
      <p class="lead">
        In the late 1960s, the citizens of California were becoming increasingly concerned about their State’s resources. In response to this concern, the University of California, Davis, submitted a proposal to the Rockefeller Foundation to create the Division of Environmental Studies. This funding led to the formation of the Division of Environmental Studies in 1970.
      </p>
    </div>
  </div>
</div>
<div class="timeline-wrapper timemark container">
  <div class="filters row justify-content-center">
    <h3 class="text-right">Timeline <br>
        Filters</h3>
    <ul class="filterlist">
      <li><a class="filter-department" href="#">Department</a></li>
      <li><a class="filter-enrollment" href="#">Enrollment</a></li>
      <li><a class="filter-faculty" href="#">Faculty</a></li>
      <li><a class="filter-awards" href="#">Awards</a></li>
      <li><a class="filter-courses" href="#">Courses</a></li>
    </ul>
  </div>
{% for post in site.posts reversed %}
<div class="row no-gutters">
    <div class="linemarker col-md-4 col-xl-3 offset-xl-1 d-flex">
      <p class="date">{{ post.date | date: "%Y"}}</p>
      <img src="/media/markers/{{ post.categories }}.svg" alt="arrow marker on timeline">
    </div>
  <div class="col-md-7 col-lg-6 timecard color-{{ post.categories }}">
    <h3 class="d-flex">{{ post.title }}
      {% if post.portrait %}
      <img src="/media/faculty/{{ post.portrait }}.png" alt="{{ post.portrait }}" class="portrait">
      {% endif %}
    </h3>
    <p>{{ post.content }}</p>
  </div>
</div>
{% endfor %}
</div>
<div class="container last-row">
<div class="row">
  <div class="col-md-4 col-xl-3 offset-xl-1 text-center">
      {% include roots.html %}
  </div>
  <div class="col-md-7 col-lg-6">
    <h3>Help us go another 50 years by giving us all your money</h3>

  </div>
</div>
</div>
