---
layout: default
title: 50th Anniversary ESP timeline
permalink: /timeline
---
{% include header.html %}
<div class="intro container">
  <div class="row no-gutters">
    <div class="col-md-4 col-xl-3 offset-xl-1 text-center">
        {% include tree.html %}
    </div>
    <div class="intro-content col-md-8 align-self-center">
      <h2><img src="/media/50small.svg" alt="The number 50">Years of Environmental Science and Policy</h2>
      <p class="lead">
        Join us as we celebrate 50 years of Environmental Science and Policy at UC Davis. Browse the timeline below to learn some of the important things we've done throughout the years. Use the filters to change focus and help us go another 50 years by joining us at our event!
      </p>
    </div>
  </div>
</div>
<div class="timeline-wrapper timemark container">
  <div id="filtercontrol" class="filters justify-content-center">
    <h3 class="text-center">Timeline Filters</h3>
    <div class="filterlist row no-gutters justify-content-between">
      <div data-category-toggle="departmental"><a class="filter-department">Department</a></div>
      <div data-category-toggle="enrollment"><a class="filter-enrollment">Enrollment</a></div>
      <div data-category-toggle="faculty"><a class="filter-faculty">Faculty</a></div>
      <div data-category-toggle="awards"><a class="filter-awards">Awards</a></div>
      <div data-category-toggle="courses"><a class="filter-courses">Courses</a></div>
      <div data-category-toggle="affiliated"><a class="filter-affiliated">Affiliated</a></div>
    </div>
    <script>
      let filterCategories = new Set()
      let filter = document.querySelector('.filterlist')

      function toggleFilter(e) {
        let category = this.dataset.categoryToggle

        if(filterCategories.has(category)) {
          filterCategories.delete(category)
        } else {
          filterCategories.add(category)
        }

        e.target.classList.toggle("active")

        let event = new CustomEvent('filter-change', {detail: {
          categories: [...filterCategories]
        }})

        filter.dispatchEvent(event)
      }

      for(let child of filter.children) {
        child.onclick = toggleFilter
      }
    </script>
  </div>
{% for post in site.posts reversed %}
<div class="row no-gutters entry entry-{{ post.categories }} yearline year{{ post.date | date: "%Y"}}" data-category="{{ post.categories }}">
    <div class="linemarker col-md-4 col-xl-3 offset-xl-1 d-flex">
      <p class="date">{{ post.date | date: "%Y"}}</p>
      <img src="/media/markers/{{ post.categories }}.svg" alt="arrow marker on timeline">
    </div>
  <div class="col-md-8 d-flex justify-content-between timecard color-{{ post.categories }}">
    <div class="card-content">
      <h3>{{ post.title }}</h3>
      {% if post.image %}
      <img class="feat-image" src="/media/timeline/{{ post.image }}.jpg" alt="{{ post.image-description }}">
      {% endif %}
      {{ post.content }}
      {% if post.link %}
      <a href="{{ post.link }}" Target="_Blank">Learn More <i class="fas fa-external-link-square-alt"></i></a>
      {% endif %}
    </div>
    {% if post.portrait %}
    <img src="/media/faculty/{{ post.portrait }}.png" alt="{{ post.portrait }}" class="portrait">
    {% endif %}

  </div>
</div>
{% endfor %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let filter = document.querySelector('.filterlist')
    let items = document.querySelectorAll('[data-category]')

    filter.addEventListener('filter-change', function(e) {
      for(let el of items) {
        let category = el.dataset.category
        if(e.detail.categories.includes(category) || e.detail.categories.length == 0) {
          el.classList.remove("hidden")
        } else {
          el.classList.add("hidden")
        }
      }
    })

    let tree = document.getElementById('tree')
    filter.addEventListener('filter-change', function(e) {
      let categories = e.detail.categories
      tree.classList.forEach(val => {
        if(!categories.includes(val)) {
          tree.classList.remove(val)
        }
      })

      for(let category of categories) {
        tree.classList.add(category)
      }
    })
  })
</script>
</div>
<div class="container last-row">
<div class="row no-gutters">
  <div class="col-md-4 col-xl-3 offset-xl-1 text-center">
      {% include roots.html %}
  </div>
  <div class="col-md-8 d-flex justify-content-between align-items-center">
    <div>
      <h3>Help us go another 50 years</h3>
      <p>A small gift will make a lasting impact for our department.</p>
    </div>
    <div>
      <p><a href="https://give.ucdavis.edu/ADES" target="_blank" class="btn-primary">Donate here</a></p>
    </div>
  </div>
</div>
</div>
