<footer class="container text-center">
    <div class="foot-icons">
      <a target="_blank" href="https://caes.ucdavis.edu">
        <img src="/media/caes-footer.svg" alt="CAES logo">
      </a>
      <a target="_blank" href="https://github.com/ucdavis/esp50">
        <img src="/media/github-footer.svg" alt="Github logo">
      </a>
      <button id="dm-toggle" href="">
        <img src="/media/darkmode-footer.svg" alt="Moon icon">
      </button>
    </div>
    <p class="discreet">&copy; Copyright
        <script language="JavaScript" type="text/javascript">
        now = new Date
        theYear = now.getYear()
        if (theYear < 1900)
            theYear = theYear + 1900
        document.write(theYear)
        </script>

        The Regents of the University of California, Davis campus. All rights reserved.
    </p>

      <!-- <div>
        <a target="_blank" href="https://status.caes.ucdavis.edu/"><i class="fas fa-satellite-dish fa-2x"></i></a>

          <a target="_blank" href="https://github.com/ucdavis"><i class="fab fa-github fa-2x"></i></a>
      </div> -->

</footer>
