<header>
  <div class="container">
      <div class="col-md-5 left-head d-flex flex-column justify-content-between">
        <div class="text-right">
          <img src="/media/caeslogo.svg" alt="UC Davis Logo">
        </div>
        <div class="left-head-content">
          <img src="/media/50years.svg" alt="50 years logo">
          <h1>
            Environmental Science &amp; Policy
          </h1>
          <p>Celebrate 50 years of Environmental Science & Policy at UC Davis with us. Explore the impacts of our past below and help secure our future.</p>
        </div>
    </div>
  </div>

</header>
<div class="head_bleed">
  <div class="head_divider">
    <div class="container">
      <div class="col-md-5 text-center">
      <i class="fas fa-caret-down"></i>
      </div>
    </div>
  </div>
</div>
