<header>
  <div class="container">
      <div class="col-lg-6 col-xl-5 left-head d-flex flex-column justify-content-between">
        <div class="text-right">
          <img src="/media/UCDCAES.svg" alt="UC Davis CAES Logo">
        </div>
        <div class="left-head-content">
          <img src="/media/50years.svg" alt="50 years logo">
          <h1>
            Environmental Science and Policy
          </h1>
          <p>Celebrate 50 years of Environmental Science and Policy at UC Davis. Join us October 31st for an exclusive event showcasing everything DESP. Browse the 50th anniversary timeline to learn of all we've accomplished in five decades.</p>
          <div class="d-flex justify-content-between">
          <a class="btn-outline" href="/">Event Information</a> <a class="btn-outline" href="/timeline">Timeline</a>
          </div>
        </div>
    </div>
  </div>
</header>
<div class="head_bleed">
  <div class="head_divider">
    <div class="container">
      <div class="col-md-5 text-center">

      </div>
    </div>
  </div>
</div>
