*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height:100%;
}
body {
  display: flex;
  flex-direction: column;
  height:100%;
}
.page-wrap {
flex: 1 0 auto;
}
.container {
  padding: 0;
  width: 98%;
  max-width:1440px;
  @include breakpoint (sm) {
    width: 96%;
    max-width:1440px;
  }
  @include breakpoint (md) {
    width: 92%;
    max-width:1440px;
  }
  @include breakpoint(lg) {
    width: 90%;
    max-width:1440px;
  }

}
header {
  background:url("/media/fish-slide.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding:2.4rem 0;
  .left-head {
    background-color:transparentize($primary-color,0.24);
    height:80rem;
    padding:2.4rem;
    h1 {
      color:$tertiary-color;
      font-family:$sans-reg;
      font-weight: 100;
      font-style: italic;
    }
    p {
      color:#fff;
    }
  }
}

h1 {
  .fas {
    -webkit-text-fill-color:$tertiary-font;
    fill:$tertiary-font;
  }
}
// header.slider {
//   .slide_overlay {
//     position: absolute;
//     background-color:transparentize($primary-color,0.24);
//     z-index:99;
//     height:80rem;
//     padding:2.4rem;
//   }
// }
.head_bleed {
  background: #1e3a5b;
    background: -moz-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: -webkit-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: linear-gradient(to right,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-one',endColorstr='$gradient-two',GradientType=1);
    margin-top:-1px;
}
.head_divider {
    background: url(/media/gunrock_banner_final.svg) center top/cover no-repeat;
    height:26px;
    // i {
    //   color:#fff;
    //   background-color: $golden-lupine;
    //   height:50px;
    //   width:50px;
    //   font-size:2.8rem;
    //   border-radius:50%;
    // }
}
.intro {
  margin-top:5%;
  @include breakpoint(lg) {
    .intro-content {
      max-width:630px;
    }
  }
}
.timecard {
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom:16px;
  border:none;
  padding: 1.6rem !important;
  margin-left:-16px;
  &.color-departmental {
    border-left:16px solid $departmental;
  }
  &.color-faculty {
    border-left:16px solid $faculty;
  }
  &.color-affiliated {
    border-left:16px solid $affiliated;
  }
  &.color-enrollment {
    border-left:16px solid $enrollment;
  }
  &.color-awards {
    border-left:16px solid $awards;
  }
  &.color-courses {
    border-left:16px solid $courses;
  }

}
.timemark {
  @include breakpoint(md) {
    background-image: url('/media/repeatline.svg');
    background-repeat: repeat-y;
    background-position: 14.8%;
  }
  @include breakpoint(xl) {
    background-position: 19.8%;
  }
}
.linemarker {
    margin-top:1.4rem;
    margin-left:3rem;
}
.portrait {
  border:2px solid #fff;
  border-radius:50%;
  box-shadow: $box-shadow;
  margin-left:1.6rem;

    width:60px;
    height:60px;

}
footer {
  flex-shrink: 0;
  margin-bottom:2rem;
}
