.treeleaf:nth-child(6n) {
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.departmental &,#tree & {
        fill: $golden-lupine;
    }
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.enrollment & {
        fill: $sky-blue;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
}
.treeleaf:nth-child(6n + 1) {
    #tree.departmental & {
        fill: $golden-lupine;
    }
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.enrollment & {
        fill: $sky-blue;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.faculty &, #tree & {
        fill: $unitrans-red;
    }
}
.treeleaf:nth-child(6n + 2) {
    #tree.enrollment &, #tree & {
        fill: $sky-blue;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.departmental & {
        fill: $golden-lupine;
    }
}
.treeleaf:nth-child(6n + 3) {
    #tree.awards &, #tree & {
        fill: $california-poppy;
    }
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.departmental & {
        fill: $golden-lupine;
    }
    #tree.courses &  {
        fill: $sunny-grass;
    }
    #tree.enrollment &{
        fill: $sky-blue;
    }

}
.treeleaf:nth-child(6n + 4) {
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.enrollment & {
        fill: $sky-blue;
    }
    #tree.departmental & {
        fill: $golden-lupine;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.courses &, #tree & {
        fill: $sunny-grass;
    }
}
.treeleaf:nth-child(6n + 5) {
  #tree.affiliated &, #tree & {
      fill: $affiliated;
  }
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.enrollment & {
        fill: $sky-blue;
    }
    #tree.departmental & {
        fill: $golden-lupine;
    }
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
}
