.treeleaf:nth-child(5n) {
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.enrollment & {
        fill: $sky-blue;
    }
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.awards & #tree & {
        fill: $california-poppy;
    }
}
.treeleaf:nth-child(5n + 1) {
    #tree.enrollment & {
        fill: $sky-blue;
    }
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.courses &, #tree & {
        fill: $sunny-grass;
    }
}
.treeleaf:nth-child(5n + 2) {
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.enrollment &, #tree & {
        fill: $sky-blue;
    }
}
.treeleaf:nth-child(5n + 3) {
    #tree.affiliated & {
        fill: $affiliated;
    }
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.enrollment &{
        fill: $sky-blue;
    }
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.faculty &, #tree & {
        fill: $unitrans-red;
    }
}
.treeleaf:nth-child(5n + 4) {
    #tree.awards & {
        fill: $california-poppy;
    }
    #tree.courses & {
        fill: $sunny-grass;
    }
    #tree.faculty & {
        fill: $unitrans-red;
    }
    #tree.enrollment & {
        fill: $sky-blue;
    }
    #tree.affiliated &, #tree & {
        fill: $affiliated;
    }
}
